/* CSS files add styling rules to your content */

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
}

h1 {
    font-style: italic;
    color: #373fff;
}

img {
    width: 50px
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

title {
    display: none;
}